h1 {
<<<<<<< HEAD
<<<<<<< HEAD
    color: green;
=======
    color: yellow;
>>>>>>> 456304af30323be6c48c4b830c77734abc46dc3a
=======
    color: yellow;
>>>>>>> 643d6791d8c0ec35ecae9460afa6a5fcc8f21468
}
p {
    color:blue;
}